body,h1,h2,h3,h4,h5,h6 ,span, button {font-family: "Roboto"}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header , footer {background-color: #1e1f1c;}
li , a , button {
    font-weight: 500;
    font-size: 21px;
    color: aliceblue;
    text-decoration: none;
}
button {
    font-size: 25px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5% ;
}

*logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {color:rgb(121, 103, 70) ;}
button {
    padding: 10px 70px;
}
button {
    background-color: rgb(121, 103, 70);
    border: none;
    border-radius: 50px;
    cursor:pointer ;
    transition: all 0.3s ease 0s;
}
li { display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5% ;
    display: inline-block;
    padding: 0px 40px;   
}
button:hover {background-color: #1e1f1c;}

img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
   margin-top: 60px;
   margin-bottom: 30px;
   }

p {font-size: 30px;}

.hello {font-size: 45px;
color: red;}

.pra , .hello {
     margin-bottom: 30px;
}

body {
    text-align:center;
}

form  { font-size: 20px;
margin-bottom: 70px;}
input {font-size: 18px;}

.intr { color: red;
    font-size: 40px;
    margin-bottom: 40px;

}
  